.bug-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bug-details-container h1 {
    color: var(--clr1);
    font-size: 2em;
    
}

.bug-details-title-container{
    display: flex;
    align-items: center;
    justify-items: center;

    gap: 5px;
}

.bug-details-title-container>img{
    width: 2em;
}


.bug-details-container h5 {
    color: var(--clr2);
}
.bug-details-container img {
    max-width: 200px;
    display: block;
    margin: auto;
}

.labels-container{
    display: flex;
    gap: 10px;
}

.labels-container>span{
    background-color: rgb(146, 146, 244);
    padding: 5px;
    border-radius: 5px;
}