
h3{
    text-align: center;
}

.user-interface-container{
display: flex;
justify-content: center;
}

.user-interface-container>input{
    height: 2em;
    align-self: center;
}

.add-btn{
    height: 100px;
}

.bug-list {
    /* padding: 15px 0 0; */
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.bug-list li {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-items: center;
    align-items: center;
    background-color: var(--clr1bg);
}

