
h3{
    text-align: center;
}

.user-interface-container{
display: grid;
grid-template-columns: repeat(5,auto);
grid-template-rows: repeat(2,1fr);
justify-content: center;
align-items: center;


}

.page-buttons-container{
    display: flex;
    gap: 15px;

    margin: 15px;


    background-color: rgb(140, 222, 224);
    border-radius: 5px;
}

.page-buttons-container>*{
    padding: 5px;
    border-radius: 5px;
    font-size: 1.5em;
}

.page-buttons-container>i:hover{
    cursor: pointer;
    background-color: cadetblue;
}

.user-interface-container>input{
    height: 2em;
    align-self: center;
}

.label-sorting-container{
    grid-column: 1/-1;
    justify-self: center;
    display: flex;
    gap: 10px;
}

.label-input-container>input{
    display: none;
}

.label-input-container>label{
    cursor: pointer;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

.label-input-container:has(input:checked) label  {
    background-color: rgb(24, 28, 140);
    color: whitesmoke;
}

.add-btn{
    height: 100px;
}

.bug-list {
    /* padding: 15px 0 0; */
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    
    height: 60vh;
    overflow-y: scroll;

    margin: auto;
    /* width: 50%; */
}

.bug-list li {
    

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-items: center;
    align-items: center;
    background-color: var(--clr1bg);
}

@media (max-width:700px) {
    .user-interface-container{
        display: flex;
      flex-direction: column;
      margin-bottom: 15px;
        }
    
}